.version.contact /* version checker */
{
	color: #0000FA;
	background-color: #593B15;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1043.8075000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -79px;
}

#pu627
{
	width: 0.01px;
	margin-left: -100px;
}

#u627
{
	z-index: 3;
	border-color: #000000;
	padding-bottom: 1px;
	background: #84F3FF url("../images/building1.jpg") no-repeat center center;
	background-size: cover;
}

#u627_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 11px;
}

#u1890
{
	z-index: 86;
	width: 944px;
	left: 108px;
}

#u1086
{
	z-index: 23;
	width: 569px;
	background-color: transparent;
	left: 100px;
	margin-top: 114px;
	position: relative;
}

#u1086_img
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u627-bw
{
	z-index: 3;
	height: 398px;
}

#u1088-4
{
	z-index: 25;
	width: 514px;
	min-height: 86px;
	background-color: transparent;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 127px;
}

#u1095
{
	z-index: 161;
	width: 52px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 947px;
}

#u1092
{
	z-index: 162;
	width: 52px;
	height: 7px;
}

#u1093
{
	z-index: 163;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#u1094
{
	z-index: 164;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#pamphletu1106
{
	z-index: 165;
	width: 0.01px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 930px;
}

#u1113popup
{
	z-index: 166;
}

#u1113
{
	width: 257px;
	top: 52px;
	left: -119px;
}

#u1116
{
	z-index: 167;
	width: 224px;
	height: 234px;
	margin-right: -10000px;
	padding: 30px 16px 29px 17px;
}

#buttonu1121
{
	z-index: 168;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
}

#buttonu1121:hover
{
	margin: 0px;
}

#u1122-4
{
	z-index: 169;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1121:hover #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1123
{
	z-index: 173;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1123:hover
{
	margin: 7px 0px 0px;
}

#u1124-4
{
	z-index: 174;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1121.ButtonSelected #u1122-4,#buttonu1123:hover #u1124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1125
{
	z-index: 178;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1123.ButtonSelected,#buttonu1125:hover
{
	margin: 7px 0px 0px;
}

#u1126-4
{
	z-index: 179;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1123.ButtonSelected #u1124-4,#buttonu1125:hover #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1127
{
	z-index: 183;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1125.ButtonSelected,#buttonu1127:hover
{
	margin: 7px 0px 0px;
}

#buttonu1127.ButtonSelected
{
	margin: 7px 0px 0px;
}

#u1128-4
{
	z-index: 184;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1125.ButtonSelected #u1126-4,#buttonu1127:hover #u1128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1127.ButtonSelected #u1128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#u1109
{
	z-index: 188;
	width: 85px;
	margin-right: -10000px;
}

#u1112
{
	width: 85px;
	height: 52px;
}

.ie #u1112
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1121.ButtonSelected,#u1112.PamphletThumbSelected
{
	margin: 0px;
}

.ie #u1112.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u634-4
{
	z-index: 5;
	width: 865px;
	min-height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 60px;
	margin-left: 21px;
	margin-top: 43px;
	position: relative;
}

#widgetu1166
{
	z-index: 29;
	width: 0.01px;
	height: 288px;
	margin-left: 21px;
	margin-top: 31px;
	position: relative;
}

#widgetu1173
{
	z-index: 30;
	width: 471px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1173.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1174-4
{
	z-index: 31;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #8700BF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1175-4
{
	z-index: 35;
	width: 457px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #8700BF;
	background-color: #FFFFFF;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu1173.non-empty-st #u1175-4
{
	background-color: #FFFFFF;
}

#widgetu1173:hover #u1175-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1173.focus-st #u1175-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1173.non-empty-st #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1173:hover #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1173.focus-st #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1173_input,#widgetu1173_prompt
{
	width: 457px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu1179
{
	z-index: 39;
	width: 471px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1179.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1181-4
{
	z-index: 40;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #8700BF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1179.fld-err-st #u1181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1182-4
{
	z-index: 44;
	width: 457px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #8700BF;
	background-color: #FFFFFF;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1179.non-empty-st #u1182-4
{
	background-color: #FFFFFF;
}

#widgetu1179:hover #u1182-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1179.focus-st #u1182-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1173.fld-err-st #u1175-4,#widgetu1179.fld-err-st #u1182-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1179.non-empty-st #u1182-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1179:hover #u1182-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1179.focus-st #u1182-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1179_input,#widgetu1179_prompt
{
	width: 457px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#u1177-4
{
	z-index: 48;
	width: 340px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: imprima, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
}

#widgetu1166.frm-sub-st #u1177-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-style: normal;
}

#u1171-4
{
	z-index: 52;
	width: 340px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: imprima, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
}

#widgetu1166.frm-subm-err-st #u1171-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1178-4
{
	z-index: 56;
	width: 340px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: imprima, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
}

#widgetu1166.frm-sub-st #u1177-4,#widgetu1166.frm-subm-err-st #u1171-4,#widgetu1166.frm-subm-ok-st #u1178-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1166.frm-subm-ok-st #u1178-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1172-17
{
	z-index: 60;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 340px;
	background: url("../images/u1172-17.png") no-repeat 0px 0px;
}

#u1172-17:hover
{
	background: url("../images/u1172-17-r.png") no-repeat 0px 0px;
}

#u1172-17:active
{
	background: url("../images/u1172-17-m.png") no-repeat 0px 0px;
}

#widgetu1166.frm-sub-st #u1172-17
{
	background: url("../images/u1172-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u1172-17
{
	background-image: url("../images/u1172-17_2x.png");
	background-size: 131px 31px;
}

.hidpi #u1172-17:hover
{
	background-image: url("../images/u1172-17-r_2x.png");
	background-size: 131px 31px;
}

.hidpi #u1172-17:active
{
	background-image: url("../images/u1172-17-m_2x.png");
	background-size: 131px 31px;
}

.hidpi #widgetu1166.frm-sub-st #u1172-17
{
	background-image: url("../images/u1172-17-fs_2x.png");
	background-size: 131px 31px;
}

#widgetu1167
{
	z-index: 77;
	width: 471px;
	height: 124px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu1167.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1170-4
{
	z-index: 78;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #8700BF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1173.fld-err-st #u1174-4,#widgetu1167.fld-err-st #u1170-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1173.fld-err-st #u1174-4 p,#widgetu1173.fld-err-st #u1174-4 span,#widgetu1179.fld-err-st #u1181-4 p,#widgetu1179.fld-err-st #u1181-4 span,#widgetu1167.fld-err-st #u1170-4 p,#widgetu1167.fld-err-st #u1170-4 span
{
	color: #D7244C;
}

#u1168-4
{
	z-index: 82;
	width: 457px;
	min-height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #8700BF;
	background-color: #FFFFFF;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1167.non-empty-st #u1168-4
{
	background-color: #FFFFFF;
}

#widgetu1167:hover #u1168-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 91px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1167.focus-st #u1168-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 91px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1167.fld-err-st #u1168-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 91px;
	width: 457px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1167.non-empty-st #u1168-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1167:hover #u1168-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1167.focus-st #u1168-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1173.fld-err-st #u1175-4 *,#widgetu1179.fld-err-st #u1182-4 *,#widgetu1167.fld-err-st #u1168-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu1167_input,#widgetu1167_prompt
{
	width: 457px;
	min-height: 91px;
	color: #C4C4C4;
	font-family: imprima, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#widgetu1173.focus-st #widgetu1173_prompt,#widgetu1179.focus-st #widgetu1179_prompt,#widgetu1167.focus-st #widgetu1167_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1173:hover #widgetu1173_input,#widgetu1173.focus-st #widgetu1173_input,#widgetu1173.fld-err-st #widgetu1173_input,#widgetu1173:hover #widgetu1173_prompt,#widgetu1173.fld-err-st #widgetu1173_prompt,#widgetu1179:hover #widgetu1179_input,#widgetu1179.focus-st #widgetu1179_input,#widgetu1179.fld-err-st #widgetu1179_input,#widgetu1179:hover #widgetu1179_prompt,#widgetu1179.fld-err-st #widgetu1179_prompt,#widgetu1167:hover #widgetu1167_input,#widgetu1167.focus-st #widgetu1167_input,#widgetu1167.fld-err-st #widgetu1167_input,#widgetu1167:hover #widgetu1167_prompt,#widgetu1167.fld-err-st #widgetu1167_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1173.non-empty-st #widgetu1173_prompt,#widgetu1179.non-empty-st #widgetu1179_prompt,#widgetu1167.non-empty-st #widgetu1167_prompt
{
	visibility: hidden;
}

#u1147
{
	z-index: 2;
	width: 294px;
	border-color: #000000;
	background-color: #DE8921;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	margin-left: 593px;
	top: -283px;
	margin-bottom: -282px;
	position: relative;
	padding: 27px 19px 24.450000000000045px 31px;
}

#u635-6
{
	z-index: 9;
	width: 274px;
	min-height: 75px;
	border-color: #D2D2D2;
	background-color: transparent;
	line-height: 36px;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
}

#u636-8
{
	z-index: 15;
	width: 294px;
	min-height: 122px;
	border-color: #D2D2D2;
	background-color: transparent;
	line-height: 36px;
	font-size: 24px;
	color: #FFFFFF;
	margin-top: 34px;
	position: relative;
}

#u632
{
	z-index: 4;
	height: 59px;
	border-color: #000000;
	background-color: #8700BF;
}

#u632-bw
{
	z-index: 4;
	margin-top: 105px;
	height: 59px;
}

#pu200
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u200
{
	z-index: 88;
	padding-bottom: 131px;
}

#u200_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u202-7
{
	z-index: 89;
	width: 294px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 100px;
}

#u234-18
{
	z-index: 143;
	width: 285px;
	min-height: 236px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 437px;
}

#u204-7
{
	z-index: 96;
	width: 307px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 753px;
}

#u200-bw
{
	z-index: 88;
	height: 289px;
}

#widgetu207
{
	z-index: 103;
	width: 0.01px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 166px;
	left: 753px;
}

#widgetu219
{
	z-index: 104;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu219.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u221-4
{
	z-index: 105;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu215
{
	z-index: 109;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: 42px;
	left: -1px;
}

#widgetu215.fld-err-st
{
	margin: 42px -10000px 0px 0px;
}

#u218-4
{
	z-index: 110;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu219.fld-err-st #u221-4,#widgetu215.fld-err-st #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 273px;
	margin: 0px -10000px 0px 0px;
}

#widgetu219_input,#widgetu219_prompt,#widgetu215_input,#widgetu215_prompt
{
	width: 273px;
	min-height: 30px;
	padding: 0px 15px 0px 18px;
}

#widgetu219.fld-err-st #widgetu219_input,#widgetu219.fld-err-st #widgetu219_prompt,#widgetu215.fld-err-st #widgetu215_input,#widgetu215.fld-err-st #widgetu215_prompt
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u214-4
{
	z-index: 114;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u213-4
{
	z-index: 118;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u208-4
{
	z-index: 122;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#widgetu207.frm-sub-st #u214-4,#widgetu207.frm-subm-err-st #u213-4,#widgetu207.frm-subm-ok-st #u208-4
{
	min-height: 25px;
}

#u223-17
{
	z-index: 126;
	min-height: 32px;
	width: 101px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 205px;
}

#u1896
{
	z-index: 190;
	width: 487px;
	margin-right: -10000px;
	margin-top: 272px;
	left: 336px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

