.version.dev_team /* version checker */
{
	color: #00001E;
	background-color: #C7C92E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 920.9574999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -79px;
}

#pu528
{
	width: 0.01px;
	margin-left: -100px;
}

#u528
{
	z-index: 6;
	border-color: #000000;
	padding-bottom: 1px;
	background: #84F3FF url("../images/img_2288.jpg") no-repeat left bottom;
	background-size: cover;
}

#u528_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 11px;
}

#u1890
{
	z-index: 38;
	width: 944px;
	left: 108px;
}

#u1075
{
	z-index: 8;
	width: 569px;
	background-color: transparent;
	left: 100px;
	margin-top: 114px;
	position: relative;
}

#u1075_img
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u528-bw
{
	z-index: 6;
	height: 398px;
}

#u531-4
{
	z-index: 10;
	width: 388px;
	min-height: 86px;
	background-color: transparent;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 154px;
}

#u1095
{
	z-index: 113;
	width: 52px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 947px;
}

#u1092
{
	z-index: 114;
	width: 52px;
	height: 7px;
}

#u1093
{
	z-index: 115;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#u1094
{
	z-index: 116;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#pamphletu1106
{
	z-index: 117;
	width: 0.01px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 930px;
}

#u1113popup
{
	z-index: 118;
}

#u1113
{
	width: 257px;
	top: 52px;
	left: -119px;
}

#u1116
{
	z-index: 119;
	width: 224px;
	height: 234px;
	margin-right: -10000px;
	padding: 30px 16px 29px 17px;
}

#buttonu1121
{
	z-index: 120;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
}

#buttonu1121:hover
{
	margin: 0px;
}

#u1122-4
{
	z-index: 121;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1121:hover #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1123
{
	z-index: 125;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1123:hover
{
	margin: 7px 0px 0px;
}

#u1124-4
{
	z-index: 126;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1121.ButtonSelected #u1122-4,#buttonu1123:hover #u1124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1125
{
	z-index: 130;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1123.ButtonSelected,#buttonu1125:hover
{
	margin: 7px 0px 0px;
}

#u1126-4
{
	z-index: 131;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1123.ButtonSelected #u1124-4,#buttonu1125:hover #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1127
{
	z-index: 135;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1125.ButtonSelected,#buttonu1127:hover
{
	margin: 7px 0px 0px;
}

#buttonu1127.ButtonSelected
{
	margin: 7px 0px 0px;
}

#u1128-4
{
	z-index: 136;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1125.ButtonSelected #u1126-4,#buttonu1127:hover #u1128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1127.ButtonSelected #u1128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#u1109
{
	z-index: 140;
	width: 85px;
	margin-right: -10000px;
}

#u1112
{
	width: 85px;
	height: 52px;
}

.ie #u1112
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1121.ButtonSelected,#u1112.PamphletThumbSelected
{
	margin: 0px;
}

.ie #u1112.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu538-4
{
	width: 0.01px;
	margin-top: 47px;
}

#u538-4
{
	z-index: 2;
	width: 845px;
	min-height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 60px;
	line-height: 33px;
	font-size: 22px;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u2140
{
	z-index: 14;
	width: 298px;
	height: 283px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	background: #FFFFFF url("../images/img_2271-u2140-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2140:hover
{
	width: 298px;
	height: 283px;
	min-height: 0px;
	margin: 82px -10000px -1px 0px;
	background: #FFFFFF url("../images/img_2277-u2140-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u2140
{
	background-image: url("../images/img_2271-u2140-fr_2x.jpg");
}

.hidpi #u2140:hover
{
	background-image: url("../images/img_2277-u2140-r-fr_2x.jpg");
}

#u2141
{
	z-index: 15;
	width: 298px;
	height: 283px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 331px;
	background: #FFFFFF url("../images/img_2278-u2141-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2141:hover
{
	width: 298px;
	height: 283px;
	min-height: 0px;
	margin: 82px -10000px -1px 0px;
	background: #FFFFFF url("../images/img_2280-u2141-r-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u2141
{
	background-image: url("../images/img_2278-u2141-fr_2x.jpg");
}

.hidpi #u2141:hover
{
	background-image: url("../images/img_2280-u2141-r-fr_2x.jpg");
}

#u2142
{
	z-index: 16;
	width: 298px;
	height: 283px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 660px;
	background: #FFFFFF url("../images/img_2282-u2142-fr.jpg") no-repeat right bottom;
	background-size: cover;
}

#u2142:hover
{
	width: 298px;
	height: 283px;
	min-height: 0px;
	margin: 82px -10000px -1px 0px;
	background: #FFFFFF url("../images/img_2286-u2142-r-fr.jpg") no-repeat right bottom;
	background-size: cover;
}

.hidpi #u2142
{
	background-image: url("../images/img_2282-u2142-fr_2x.jpg");
}

.hidpi #u2142:hover
{
	background-image: url("../images/img_2286-u2142-r-fr_2x.jpg");
}

#pu2186-6
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 27px;
}

#u2186-6
{
	z-index: 17;
	width: 275px;
	min-height: 84px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2186-2
{
	color: #00D006;
}

#u2187-6
{
	z-index: 23;
	width: 275px;
	min-height: 84px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u2187-2
{
	color: #00C705;
}

#u2188-6
{
	z-index: 29;
	width: 275px;
	min-height: 84px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 663px;
}

#u2188-2
{
	color: #14C800;
}

#u2186-4,#u2187-4,#u2188-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2186-3,#u2187-3,#u2188-3
{
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
}

#u545
{
	z-index: 7;
	height: 59px;
	border-color: #000000;
	background-color: #8700BF;
}

#u545-bw
{
	z-index: 7;
	margin-top: 21px;
	height: 59px;
}

#pu2189-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u2189-3
{
	z-index: 35;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 95px;
}

#u200
{
	z-index: 40;
	padding-bottom: 131px;
}

#u200_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u202-7
{
	z-index: 41;
	width: 294px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 100px;
}

#u234-18
{
	z-index: 95;
	width: 285px;
	min-height: 236px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 437px;
}

#u204-7
{
	z-index: 48;
	width: 307px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 753px;
}

#u200-bw
{
	z-index: 40;
	height: 289px;
}

#widgetu207
{
	z-index: 55;
	width: 0.01px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 166px;
	left: 753px;
}

#widgetu219
{
	z-index: 56;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu219.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u221-4
{
	z-index: 57;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu215
{
	z-index: 61;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: 42px;
	left: -1px;
}

#widgetu215.fld-err-st
{
	margin: 42px -10000px 0px 0px;
}

#u218-4
{
	z-index: 62;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu219.fld-err-st #u221-4,#widgetu215.fld-err-st #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 273px;
	margin: 0px -10000px 0px 0px;
}

#widgetu219_input,#widgetu219_prompt,#widgetu215_input,#widgetu215_prompt
{
	width: 273px;
	min-height: 30px;
	padding: 0px 15px 0px 18px;
}

#widgetu219.fld-err-st #widgetu219_input,#widgetu219.fld-err-st #widgetu219_prompt,#widgetu215.fld-err-st #widgetu215_input,#widgetu215.fld-err-st #widgetu215_prompt
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u214-4
{
	z-index: 66;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u213-4
{
	z-index: 70;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u208-4
{
	z-index: 74;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#widgetu207.frm-sub-st #u214-4,#widgetu207.frm-subm-err-st #u213-4,#widgetu207.frm-subm-ok-st #u208-4
{
	min-height: 25px;
}

#u223-17
{
	z-index: 78;
	min-height: 32px;
	width: 101px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 205px;
}

#u1896
{
	z-index: 142;
	width: 487px;
	margin-right: -10000px;
	margin-top: 272px;
	left: 336px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

