.Quotes
{
	font-family: open-sans-i4, sans-serif;
}

.Heading-3
{
	font-family: open-sans-n7, sans-serif;
}

.Body-Text,.Footer-Text
{
	font-family: imprima-n4, sans-serif;
}

.Heading-1
{
	font-family: open-sans-n3, sans-serif;
}

.Heading---Block
{
	font-family: sansita-one-n4, sans-serif;
}

.Heading-2
{
	font-family: open-sans-n6, sans-serif;
}

.title-semibold
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1122-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1124-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1126-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1128-4
{
	font-family: open-sans-n7, sans-serif;
}

#u202-3,#u204-3
{
	font-family: lato-n7, sans-serif;
}

#u234-3,#u234-6,#u234-7,#u234-9,#u234-10,#u234-12,#u234-13,#u234-15,#u221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u218-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu219_input,#widgetu219_prompt,#widgetu215_input,#widgetu215_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu207.frm-sub-st #u214-4 p,#u214-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu207.frm-subm-err-st #u213-4 p,#u213-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu207.frm-subm-ok-st #u208-4 p,#u208-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u493-4
{
	font-family: open-sans-n7, sans-serif;
}

