.version.index /* version checker */
{
	color: #000007;
	background-color: #85F7F9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1233.7500000000018px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
}

#slideshowu1186
{
	z-index: 4;
	width: 0.01px;
	height: 507px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u1187
{
	position: absolute;
	width: 380px;
	height: 506px;
	background-color: transparent;
}

#u1187popup
{
	z-index: 5;
}

#u1190
{
	z-index: 6;
	width: 380px;
	height: 506px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1192
{
	z-index: 8;
	width: 380px;
	height: 506px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1188
{
	z-index: 10;
	width: 380px;
	height: 506px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1208
{
	position: absolute;
	width: 380px;
	background-color: transparent;
	top: 277px;
}

#u1208popup
{
	z-index: 12;
}

#u1211-7
{
	z-index: 13;
	width: 360px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: #A035CC;
	background-color: rgba(135, 0, 191, 0.79);
	line-height: 34px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	padding: 50px 10px 10px;
	-pie-background: rgba(135, 0, 191, 0.79);
}

#u1210-8
{
	z-index: 20;
	width: 360px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: #A035CC;
	background-color: rgba(135, 0, 191, 0.79);
	line-height: 34px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	padding: 50px 10px 10px;
	-pie-background: rgba(135, 0, 191, 0.79);
}

#u1209-8
{
	z-index: 28;
	width: 360px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: #A035CC;
	background-color: rgba(135, 0, 191, 0.79);
	line-height: 34px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	padding: 50px 10px 10px;
	-pie-background: rgba(135, 0, 191, 0.79);
}

#u1211-4,#u1210-2,#u1209-2
{
	color: #DE8921;
}

#u1207
{
	position: absolute;
	height: 59px;
	width: 63px;
	vertical-align: top;
	top: 447px;
	left: 24px;
	background: url("../../images/left-arrow-u1207.png") no-repeat 0px 0px;
}

#u1207popup
{
	z-index: 37;
}

#u1207:hover
{
	background: url("../../images/left-arrow-u1207-r.png") no-repeat 0px 0px;
}

.hidpi #u1207
{
	background-image: url("../../images/left-arrow-u1207_2x.png");
	background-size: 63px 59px;
}

.hidpi #u1207:hover
{
	background-image: url("../../images/left-arrow-u1207-r_2x.png");
	background-size: 63px 59px;
}

#u1206
{
	position: absolute;
	height: 59px;
	width: 66px;
	vertical-align: top;
	top: 447px;
	left: 284px;
	background: url("../../images/right-arrow-u1206.png") no-repeat 0px 0px;
}

#u1206popup
{
	z-index: 40;
}

#u1206:hover
{
	background: url("../../images/right-arrow-u1206-r.png") no-repeat 0px 0px;
}

.hidpi #u1206
{
	background-image: url("../../images/right-arrow-u1206_2x.png");
	background-size: 66px 59px;
}

.hidpi #u1206:hover
{
	background-image: url("../../images/right-arrow-u1206-r_2x.png");
	background-size: 66px 59px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u835
{
	z-index: 201;
	width: 380px;
	margin-right: -10000px;
}

#u837
{
	z-index: 203;
	width: 143px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 22px;
}

#u911
{
	z-index: 205;
	width: 36px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 292px;
}

#u868
{
	z-index: 206;
	width: 36px;
	height: 5px;
}

#u869
{
	z-index: 207;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u870
{
	z-index: 208;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#accordionu873wrapper
{
	min-height: 365px;
	z-index: 209;
	margin-right: -10000px;
}

#accordionu873
{
	z-index: 209;
	width: 380px;
}

#u874
{
	z-index: 210;
	width: 380px;
}

#u875-3
{
	z-index: 211;
	width: 370px;
	min-height: 51px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u875-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u876
{
	z-index: 214;
	width: 380px;
	padding-bottom: 58px;
}

#menuu877
{
	z-index: 215;
	width: 340px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 20px;
}

#u878
{
	width: 340px;
}

#u881
{
	width: 340px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u881:hover
{
	margin: 0px -10000px 0px 0px;
}

#u883-4
{
	width: 340px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u881:hover #u883-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 340px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u881.MuseMenuActive,#u891:hover
{
	margin: 0px -10000px 0px 0px;
}

#u894-4
{
	width: 340px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u881.MuseMenuActive #u883-4,#u891:hover #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u898
{
	width: 340px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u891.MuseMenuActive,#u898:hover
{
	margin: 0px -10000px 0px 0px;
}

#u899-4
{
	width: 340px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u891.MuseMenuActive #u894-4,#u898:hover #u899-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u890,#u897,#u904
{
	width: 340px;
	margin-top: 2px;
}

#u905
{
	width: 340px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u898.MuseMenuActive,#u905:hover
{
	margin: 0px -10000px 0px 0px;
}

#u905.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u908-4
{
	width: 340px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u898.MuseMenuActive #u899-4,#u905:hover #u908-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u905.MuseMenuActive #u908-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1247-4
{
	z-index: 42;
	width: 350px;
	min-height: 95px;
	background-color: transparent;
	line-height: 44px;
	font-size: 37px;
	margin-left: 15px;
	margin-top: 45px;
	position: relative;
}

#u1258
{
	z-index: 62;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 34px;
	position: relative;
}

#u1259
{
	z-index: 63;
	width: 153px;
	border-width: 2px;
	border-style: solid;
	border-color: #8700BF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	padding: 42px 20px 16px 18px;
}

#u1260
{
	z-index: 68;
	margin-left: 42px;
	position: relative;
}

#u1262-4
{
	z-index: 64;
	width: 153px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 2px;
	margin-top: 29px;
	position: relative;
}

#u1248
{
	z-index: 46;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 14px;
	position: relative;
}

#u1252
{
	z-index: 47;
	width: 153px;
	border-width: 2px;
	border-style: solid;
	border-color: #8700BF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	padding: 42px 19px 16px;
}

#u1250
{
	z-index: 52;
	margin-left: 40px;
	position: relative;
}

#u1249-4
{
	z-index: 48;
	width: 153px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 2px;
	margin-top: 29px;
	position: relative;
}

#u1253
{
	z-index: 54;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 15px;
	position: relative;
}

#u1254
{
	z-index: 55;
	width: 153px;
	border-width: 2px;
	border-style: solid;
	border-color: #8700BF;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	padding: 46px 19px 16px;
}

#u1256
{
	z-index: 60;
	margin-left: 43px;
	position: relative;
}

#u1260_img,#u1250_img,#u1256_img
{
	display: block;
	vertical-align: top;
}

#u1255-4
{
	z-index: 56;
	width: 153px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 2px;
	margin-top: 29px;
	position: relative;
}

#u1262-2,#u1249-2,#u1255-2
{
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color: #8700BF;
}

#u1266
{
	z-index: 70;
	border-color: #000000;
	background-color: #8700BF;
	padding-bottom: 38px;
}

#u1267-4
{
	z-index: 71;
	width: 350px;
	min-height: 63px;
	background-color: transparent;
	line-height: 60px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 15px;
}

#u1266-bw
{
	z-index: 70;
	margin-top: 74px;
	height: 102px;
}

#u1272
{
	z-index: 125;
	width: 227px;
	height: 266px;
	border-width: 5px;
	border-style: solid;
	border-color: #DE8921;
	margin-left: 57px;
	margin-top: 60px;
	position: relative;
	background: #FFFFFF url("../../images/mentor2-u1272-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1272
{
	background-image: url("../../images/mentor2-u1272-fr_2x.jpg");
}

#pu1268-6
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 28px;
}

#u1268-6
{
	z-index: 75;
	width: 338px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u1269-4
{
	z-index: 89;
	width: 164px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	color: #8700BF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
}

#u1270-4
{
	z-index: 101;
	width: 29px;
	min-height: 81px;
	background-color: transparent;
	line-height: 72px;
	font-size: 72px;
	color: #DE8921;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1271-4
{
	z-index: 113;
	width: 29px;
	min-height: 31px;
	background-color: transparent;
	font-size: 72px;
	color: #DE8921;
	line-height: 72px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 155px;
}

#pu1278
{
	width: 0.01px;
	margin-top: 36px;
}

#u1278
{
	z-index: 2;
	border-color: #000000;
	background-color: #DE8921;
	padding: 48px 17px 9px 29px;
}

#u1273
{
	z-index: 126;
	width: 227px;
	height: 266px;
	border-width: 5px;
	border-style: solid;
	border-color: #8700BF;
	margin-left: 28px;
	position: relative;
	background: #FFFFFF url("../../images/mentor3-u1273-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1273
{
	background-image: url("../../images/mentor3-u1273-fr_2x.jpg");
}

#u1275-4
{
	z-index: 81;
	width: 334px;
	min-height: 222px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 68px;
	position: relative;
}

#pu1277-4
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u1277-4
{
	z-index: 93;
	width: 164px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	color: #8700BF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1276-4
{
	z-index: 117;
	width: 29px;
	min-height: 47px;
	background-color: transparent;
	font-size: 72px;
	color: #8700BF;
	line-height: 72px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 291px;
}

#u1278-bw
{
	z-index: 2;
	height: 647px;
}

#u1274-4
{
	z-index: 105;
	width: 29px;
	min-height: 81px;
	background-color: transparent;
	line-height: 72px;
	font-size: 72px;
	color: #8700BF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 29px;
}

#u1283
{
	z-index: 3;
	border-color: #000000;
	background-color: #8700BF;
	padding: 48px 17px 56px 29px;
}

#u1282
{
	z-index: 127;
	width: 227px;
	height: 266px;
	border-width: 5px;
	border-style: solid;
	border-color: #DE8921;
	margin-left: 28px;
	position: relative;
	background: #FFFFFF url("../../images/teens_group1-u1282-fr.jpg") no-repeat right center;
	background-size: cover;
}

.hidpi #u1282
{
	background-image: url("../../images/teens_group1-u1282-fr_2x.jpg");
}

#u1285-4
{
	z-index: 85;
	width: 334px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 68px;
	position: relative;
}

#u1286-4
{
	z-index: 97;
	width: 164px;
	background-color: transparent;
	line-height: 30px;
	font-size: 18px;
	color: #DE8921;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 3px;
	margin-top: 16px;
	position: relative;
}

#u1283-bw
{
	z-index: 3;
	height: 570px;
}

#u1284-4
{
	z-index: 109;
	width: 29px;
	min-height: 81px;
	background-color: transparent;
	line-height: 72px;
	font-size: 72px;
	color: #DE8921;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 15px;
}

#u1287-4
{
	z-index: 121;
	width: 29px;
	min-height: 31px;
	background-color: transparent;
	font-size: 72px;
	color: #DE8921;
	line-height: 72px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 568px;
	left: 291px;
}

#pslideshowu1186,#pu1283,#pu841
{
	width: 0.01px;
}

#u841,#u841-bw
{
	z-index: 128;
	height: 783px;
}

#u842
{
	z-index: 129;
	padding: 51px 36px 44px;
}

#u843-7
{
	z-index: 130;
	width: 307px;
	min-height: 135px;
	margin-left: 1px;
}

#u844
{
	z-index: 137;
	width: 87px;
	margin-left: 2px;
	margin-top: 24px;
}

#u861-15
{
	z-index: 186;
	width: 307px;
	min-height: 152px;
	margin-top: 44px;
}

#u847-7
{
	z-index: 139;
	width: 307px;
	min-height: 87px;
	margin-top: 11px;
}

#u1843
{
	z-index: 252;
	margin-left: 243px;
	margin-top: 197px;
}

#u842-bw
{
	z-index: 129;
	margin-top: 1px;
	height: 687px;
}

#widgetu848
{
	z-index: 146;
	width: 0.01px;
	height: 162px;
	margin-right: -10000px;
	margin-top: 558px;
	left: 36px;
}

#widgetu851
{
	z-index: 147;
	width: 308px;
	height: 34px;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu851.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u854-4
{
	z-index: 148;
	width: 273px;
	min-height: 32px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu855
{
	z-index: 152;
	width: 308px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 42px;
	left: -1px;
}

#widgetu855.fld-err-st
{
	margin: 42px -10000px 0px 0px;
}

#u858-4
{
	z-index: 153;
	width: 273px;
	min-height: 32px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu851.fld-err-st #u854-4,#widgetu855.fld-err-st #u858-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 273px;
	margin: 0px -10000px 0px 0px;
}

#widgetu851_input,#widgetu851_prompt,#widgetu855_input,#widgetu855_prompt
{
	width: 273px;
	min-height: 32px;
	padding: 0px 15px 0px 18px;
}

#widgetu851.fld-err-st #widgetu851_input,#widgetu851.fld-err-st #widgetu851_prompt,#widgetu855.fld-err-st #widgetu855_input,#widgetu855.fld-err-st #widgetu855_prompt
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u850-4
{
	z-index: 157;
	width: 162px;
	min-height: 37px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u859-4
{
	z-index: 161;
	width: 162px;
	min-height: 38px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#widgetu848.frm-subm-err-st #u859-4
{
	min-height: 42px;
}

#u849-4
{
	z-index: 165;
	width: 162px;
	min-height: 37px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#widgetu848.frm-sub-st #u850-4,#widgetu848.frm-subm-ok-st #u849-4
{
	min-height: 41px;
}

#u860-17
{
	z-index: 169;
	min-height: 32px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 86px;
}

#u1831
{
	z-index: 240;
	margin-right: -10000px;
	margin-top: 720px;
	left: 77px;
}

#u1833
{
	z-index: 242;
	margin-right: -10000px;
	margin-top: 720px;
	left: 239px;
}

#u1835
{
	z-index: 244;
	margin-right: -10000px;
	margin-top: 720px;
	left: 36px;
}

#u1837
{
	z-index: 246;
	margin-right: -10000px;
	margin-top: 720px;
	left: 117px;
}

#u1839
{
	z-index: 248;
	margin-right: -10000px;
	margin-top: 720px;
	left: 159px;
}

#u1841
{
	z-index: 250;
	margin-right: -10000px;
	margin-top: 720px;
	left: 198px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

