.version.events /* version checker */
{
	color: #0000E0;
	background-color: #35FB48;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu1636
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1636
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u1638
{
	z-index: 75;
	width: 136px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 47px;
}

#pamphletu1642
{
	z-index: 77;
	width: 0.01px;
	height: 44px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 658px;
}

#u1645popup
{
	z-index: 78;
}

#u1645
{
	width: 257px;
	top: 54px;
	left: -140px;
}

#u1646
{
	z-index: 79;
	width: 224px;
	height: 234px;
	margin-right: -10000px;
	padding: 30px 16px 29px 17px;
}

#buttonu1649
{
	z-index: 80;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
}

#buttonu1649:hover
{
	margin: 0px;
}

#u1650-4
{
	z-index: 81;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1649:hover #u1650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1651
{
	z-index: 85;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1651:hover
{
	margin: 7px 0px 0px;
}

#u1652-4
{
	z-index: 86;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1649.ButtonSelected #u1650-4,#buttonu1651:hover #u1652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1647
{
	z-index: 90;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1651.ButtonSelected,#buttonu1647:hover
{
	margin: 7px 0px 0px;
}

#u1648-4
{
	z-index: 91;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1651.ButtonSelected #u1652-4,#buttonu1647:hover #u1648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1653
{
	z-index: 95;
	width: 224px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 7px;
}

#buttonu1647.ButtonSelected,#buttonu1653:hover
{
	margin: 7px 0px 0px;
}

#buttonu1653.ButtonSelected
{
	margin: 7px 0px 0px;
}

#u1654-4
{
	z-index: 96;
	width: 148px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 38px;
}

#buttonu1647.ButtonSelected #u1648-4,#buttonu1653:hover #u1654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1653.ButtonSelected #u1654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 19px -10000px 0px 0px;
}

#u1655
{
	z-index: 100;
	width: 52px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u1656
{
	width: 74px;
	padding-bottom: 8px;
	top: -8px;
	left: -17px;
}

#buttonu1649.ButtonSelected,#u1656.PamphletThumbSelected
{
	margin: 0px;
}

#u1661
{
	z-index: 102;
	width: 52px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u1663
{
	z-index: 103;
	width: 52px;
	height: 7px;
}

#u1662
{
	z-index: 104;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#u1664
{
	z-index: 105;
	width: 52px;
	height: 7px;
	margin-top: 7px;
}

#pu1594
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1022px;
}

#u1594
{
	z-index: 4;
	padding-bottom: 13px;
}

#pu1595-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 42px;
}

#u1595-7
{
	z-index: 5;
	width: 294px;
	min-height: 150px;
}

#u1610
{
	z-index: 59;
	width: 136px;
	margin-top: 32px;
}

#pu1617
{
	width: 0.01px;
	margin-left: 210px;
	margin-top: 15px;
}

#u1617
{
	z-index: 65;
	margin-right: -10000px;
}

#u1613
{
	z-index: 61;
	margin-right: -10000px;
	left: 40px;
}

#u1619
{
	z-index: 67;
	margin-right: -10000px;
	left: 81px;
}

#u1621
{
	z-index: 69;
	margin-right: -10000px;
	margin-top: 256px;
	left: 375px;
}

#u1596-7
{
	z-index: 12;
	width: 307px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 425px;
}

#u1594-bw
{
	z-index: 4;
	height: 278px;
}

#widgetu1597
{
	z-index: 19;
	width: 0.01px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 145px;
	left: 425px;
}

#widgetu1598
{
	z-index: 20;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu1598.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u1599-4
{
	z-index: 21;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu1603
{
	z-index: 25;
	width: 308px;
	height: 32px;
	margin-right: -10000px;
	margin-top: 42px;
	left: -1px;
}

#widgetu1603.fld-err-st
{
	margin: 42px -10000px 0px 0px;
}

#u1605-4
{
	z-index: 26;
	width: 273px;
	min-height: 30px;
	margin-right: -10000px;
	padding: 0px 15px 0px 18px;
}

#widgetu1598.fld-err-st #u1599-4,#widgetu1603.fld-err-st #u1605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 273px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1598_input,#widgetu1598_prompt,#widgetu1603_input,#widgetu1603_prompt
{
	width: 273px;
	min-height: 30px;
	padding: 0px 15px 0px 18px;
}

#widgetu1598.fld-err-st #widgetu1598_input,#widgetu1598.fld-err-st #widgetu1598_prompt,#widgetu1603.fld-err-st #widgetu1603_input,#widgetu1603.fld-err-st #widgetu1603_prompt
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u1608-4
{
	z-index: 30;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u1609-4
{
	z-index: 34;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u1607-4
{
	z-index: 38;
	width: 267px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#widgetu1597.frm-sub-st #u1608-4,#widgetu1597.frm-subm-err-st #u1609-4,#widgetu1597.frm-subm-ok-st #u1607-4
{
	min-height: 25px;
}

#u1602-17
{
	z-index: 42;
	min-height: 32px;
	width: 101px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 205px;
}

#u1615
{
	z-index: 63;
	margin-right: -10000px;
	margin-top: 256px;
	left: 455px;
}

#u1623
{
	z-index: 71;
	margin-right: -10000px;
	margin-top: 256px;
	left: 414px;
}

#u1625
{
	z-index: 73;
	margin-right: -10000px;
	margin-top: 258px;
	left: 496px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1022px;
}

