.Quotes
{
	font-family: open-sans-i4, sans-serif;
}

.Heading-3
{
	font-family: open-sans-n7, sans-serif;
}

.Body-Text,.Footer-Text
{
	font-family: imprima-n4, sans-serif;
}

.Heading-1
{
	font-family: open-sans-n3, sans-serif;
}

.Heading---Block
{
	font-family: sansita-one-n4, sans-serif;
}

.Heading-2
{
	font-family: open-sans-n6, sans-serif;
}

.title-semibold
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1650-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1652-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1648-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1654-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1595-3,#u1596-3
{
	font-family: lato-n7, sans-serif;
}

#u1599-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1605-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1598_input,#widgetu1598_prompt,#widgetu1603_input,#widgetu1603_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu1597.frm-sub-st #u1608-4 p,#u1608-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1597.frm-subm-err-st #u1609-4 p,#u1609-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1597.frm-subm-ok-st #u1607-4 p,#u1607-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

